.padre, .padre2, .padre3{
    width: 550px;
    border: 2px solid blue;
    height: 200px;
    display: flex;
    margin-bottom: 40px;
}

.padre{
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.hijo{
   width: 75px;
    height: 35px;    /*280*/ 
    
}

.hijo:nth-child(1){
    background-color: red;
}
.hijo:nth-child(2){
    background-color: lime;

}
.hijo:nth-child(3){
    background-color: orange;

}

.hijo:nth-child(4){
    background-color: blue;


}

.padre2{ 
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.tareas{
    font-size: 30px;
    text-align: center;
    color: crimson;
    text-decoration: underline;
}

.padre3{
    align-items: center;
    justify-content: center;
}